Када су у питању услови за курс, било би изузетно корисно ако сте упознати са њима

АМЛ системи и што је најважније, ЈаваСцрипт.

Искрено могу да кажем да што више ЈаваСцрипт-а, посебно ЕС6, знате, то ће бити лакше

покупите реаговање јер је на крају дана Реацт само ЈаваСцрипт.

Дакле, ако сте упознати са стварима као што су ширење, оператор, наше функције, структурирање итд.,

бићеш у доброј форми.

Сада није крај света ако се још увек осећате пријатно са ЈаваСцрипт-ом.

Само имајте на уму да ћете с времена на време морати додатно да учите.

Пошто је моја претпоставка да сте упознати са ЕС6 ЈаваСцрипт темама и ја ћу покушати да покријем

што више информација о ЈаваСцрипту, молимо вас да схватите да је на крају дана ово Реацт

наравно.

Сада, ако треба да надоградите своје знање о ЈаваСцрипт-у или ако желите да сазнате више о томе

одређене теме ЈаваСцрипта током курса, предлажем да више користите кодирање на мом ИоуТубе каналу

посебно плејлиста која се зове ЈаваСцрипт Нуггетс, где покривамо специфичне теме за Реацт ЈаваСцрипт.

Стално додајем нове теме.

Дакле, док у време снимања постоје само три видео снимка, док ово будете гледали,

биће их још.

Дакле, опет, канал који тражите је Цодинг Аддицт, тачније, листа за репродукцију

име је ЈаваСцрипт грумен.

Дакле, начин на који то функционише, док снимам курс и када једном погодим одређену ЈаваСцрипт тему, на пример,

мапу или јединствене вредности или динамичке кључеве објеката, направићу посебан видео о томе за сваки случај

желели бисте да сазнате више о овој теми.